In [ ]:
#variable and print
a=5
print("I am",a,"years old")

I am 5 years old

operators

In [ ]:
#arithmetic
a=5
b=25
print(a+b)

30

In [ ]:
#power
print(2**5)

32

In [ ]:
#floor div
print(25//2)

12

In [ ]:
#relational
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [ ]:
#logical
a=9
b=9
print((a>b) and (a<b))
print((a>b) or (a<b))

False
False

In [ ]:
#membership
a="pirate"
print("a" not in a)
print("a" in a)

False
True

control flow

In [ ]:
#conditional-if
#writ a program to get a number from the user and check whether it is positive or negative
a=(input("enter a number:"))
print(type(a))

enter a number:45
<class 'str'>

In [ ]:
#conditional-if
#writ a program to get a number from the user and check whether it is positive or negative
a=int(input("enter a number:"))
if(a>0):
  print("a is positive")
else:
  print("a is negative")

enter a number:38
a is positive

In [ ]:
#conditional-if
#writ a program to get a number from the user and check whether it is positive or negative
a=int(input("enter a number:"))
if(a>0):
  print("a is positive")
elif(a==0):
  print("zero")
else:
  print("a is negative")

enter a number:0
zero

In [ ]:
#for
a=6
for i in range(1,11):
  print(a,"*",i,"=",a*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
#typecasting:
a=25.5 #float
b=6 #int
print(a*b) #interpreter automatically taken the output as float
#implict typecasting

153.0

In [ ]:
#typecasting:
a=25.5 #float
b=6 #int
print(int(a*b)) #user
#explicit typecasting

153

In [ ]:
a="45"
a=int(a)
print(type(a))

<class 'int'>

In [ ]:
a="45"
int(a)
print(type(a))

<class 'str'>

Data slicing

In [ ]:
a="python is easy"
print(a[0:6])#start:stop:step

python

In [ ]:
a="python is easy"
print(a[::-1])

ysae si nohtyp

In [ ]:
a="python is easy"
print(a[::2])

pto ses

In [ ]:
#while loop
a=int(input("enter a number:"))
i=1
while(i<=10):
  n=a*i
  print(n)
  i=i+1

enter a number:8
8
16
24
32
40
48
56
64
72
80

Collections:
list:
- List is a collection of elements
-Hetrogeneous
-Mutable(modifiable)

In [ ]:
#lists
list=[1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#lists
l1=[38,"happy",1.88,45]
print(l1)

[38, 'happy', 1.88, 45]

In [ ]:
#lists
for i in l1:
  print(i)

38
happy
1.88
45

In [ ]:
#lists appending
a=[1,2,3]
b="hi"
a.append(b)
print(a)

[1, 2, 3, 'hi']

In [ ]:
#lists inserting
c=[1,"hi",10.9]
c.insert(2,"hello")#syntax:list_name.insert(index number,word)
print(c)

[1, 'hi', 'hello', 10.9]

In [ ]:
#lists extend
l3=[4,5,6]
l4=[7,8,9]
l3.extend(l4)
print(l3)

[4, 5, 6, 7, 8, 9]

In [ ]:
#lists add
l3=l3+l4
print(l3)

[4, 5, 6, 7, 8, 9, 7, 8, 9]

In [ ]:
#lists pop
l5=[1,2,3,4,5,6]
l5.pop(3)#list_name.clear() or list_name.pop()
print(l5)
#lists remove
l5.remove(1)
print(l5)#list_name.remove(element present in list)

[1, 2, 3, 5, 6]
[2, 3, 5, 6]

In [ ]:
#lists max only works for numbers
l6=[1,2,38,40]
#syntax: max(list_name)
print(max(l6))
print(min(l6))

40
1

List comprehensions

*   iterates
*   applies some function
*   conditions
*   output:list

In [ ]:
l8=[45,67,89,90]
l9=[i**2 for i in l8]#[output iterate condition]
print(l9)

[2025, 4489, 7921, 8100]

In [ ]:
l8=[45,67,89,90]
l9=[i**2 for i in l8 if i>50]#[output iterate condition]
print(l9)

[4489, 7921, 8100]

In [ ]:
#The salaries of 5 employees in a company is taken as a list.The tax is 10%, if the salary is less than or equal to 50,000
#or it is 15%
#Create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list_name=[(body of if) (condition) else (body of else) iterate]
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#The salaries of 5 employees in a company is taken as a list.The tax is 10%, if the salary is less than or equal to 50,000
#or it is 15%
#Create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list_name=[(body of if) (condition) else (body of else) iterate]
sal=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]